/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #5980cd;
    height: 100%;
}


/* Estilos del header */
.cabecera {
    background-color: #5300C8;
    padding: 10px 10px;
    border-bottom: 2px #350080 solid;
}

/* Estilos del navbar */
.cabecera__opciones {
    box-shadow: 0px 0px 5px 5px #c004d9;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo del navbar */
.logo {
    font-size: 15pt;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    transition: color 0.3s;
}

/* Efecto hover */
.logo:hover {
    color: #8c0375;
    transform: scale(1.02);
}

/* Estilo del logo */
.logo__img {
    box-shadow: 0px 0px 5px 1px #c004d9;
    width: 60px;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}

.logo__img:hover {
    transform: rotateX(360deg) scale(1.15);
}

/* Estilo del botón agregar */
.btn__agregar {
    background-color: #03318c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 15pt;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px #c004d9;
}

.btn__agregar:hover {
    background-color: #8c0375;
}

/* Efecto hover */
.opcion__agregar:hover {
    transform: scale(1.05);
}

/* Para la seccion del buscador */
.filtrar {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

/* contenedor de buscar */
.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Input para buscar */
.search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    box-shadow: 0px 0px 5px 1px #c004d9;
}

/* Icono del boton buscar */
.search__icon {
    width: 16px;
    color: white;
}

.search-button {
    padding: 5px 5px 3px 5px;
    background-color: #0056b3;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px #c004d9;
}

.search-button:hover {
    background-color: #8c0375;
    transform: scale(1.12);
}

/* Select de categorias */
.category-selector {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
}

.category-dropdown {
    padding: 5px;
    font-size: 11pt;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
    box-shadow: 0px 0px 5px 1px #c004d9;
}

/* Paginacion */
.pages {
    margin: 20px 5px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.pagination-button {
    padding: 5px;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-button:hover {
    background-color: #8c0375;
    transform: scale(1.05);
}

.active {
    background-color: #8c0375;
}

/* mostrar los productos en columnas responsivas en forma de cuadricula*/
.product-container {
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

/* Tarjeta para mostrar cada producto */
.card {
    background-color: rgb(163, 241, 241);
    margin: 16px;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px #c004d9;
    width: 295px;
    border-radius: 10px;
    transition: transform 0.3s;
    animation: slideInTop 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.image-container {
    background-color: white;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 9px 1px black;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    transition: transform 0.5s ease-in-out;

    filter: brightness(1.1);
    mix-blend-mode: multiply;
    animation: slideInTop 0.5s ease-in-out;
}

.card-image:hover {
    transform: rotateY(360deg) scale(1.25);
}

.card-title {
    text-align: center;
    margin: 10px 0;
    transition: transform 0.3s ease-in-out;
}

.card-title:hover {
    transform: scale(1.05);
}

.card-content {
    padding: 2px 5px;
    transition: transform 0.3s ease-in-out;
}

.card-content:hover {
    transform: scale(1.05);
}

.card-categoria {
    padding: 5px 0;
    font-size: 10pt;
    transition: transform 0.3s ease-in-out;
}

.card-categoria:hover {
    transform: scale(1.05);
}

.card-description {
    font-size: 1em;
    color: #666;
    display: -webkit-box;
    /* Para el soporte de WebKit */
    -webkit-box-orient: vertical;
    /* Orientación vertical */
    -webkit-line-clamp: 2;
    /* Limitar a 2 líneas */
    overflow: hidden;
    /* Ocultar el desbordamiento */
    transition: transform 0.3s ease-in-out;
}

.card-description:hover {
    transform: scale(1.05);
}

.card-link {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    transition: transform 0.3s ease-in-out;
}

.card-link:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.card:hover {
    transform: scale(1.05);
}

.card-product {
    animation: slideInTop 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.card-price {
    transition: transform 0.3s ease-in-out;
}

.card-price:hover {
    transform: scale(1.05);
}

/* Para situar el footer siempre en la parte final de la pantalla */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
}

.footer {
    font-size: 10pt;
    background-color: #5300C8;
    padding: 35px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


/* Responsividad */
@media (max-width:500px) {
    .product-container {
        margin: 5px;
        display: flex;
        justify-content: center;
    }

    .logo,
    .btn__agregar {
        font-size: 12pt;
    }

    .logo__img {
        width: 55px;
    }

    .filtrar {
        display: block;
    }
}

/* Animaciones en las card */
@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(-50px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);

    }
}

@keyframes slideInBottom {
    from {
        opacity: 0;
        transform: translateY(50px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}